.section-inner {
  border-top: 2px solid black;
  /* padding-top: px; */
}

.section-title {
  margin-top: 0;
  margin-bottom: 24px;
}
.item-text {
  padding: 0;
}
.item-text li:not(:first-of-type) {
  padding-top: 28px;
  margin-top: 28px;
  border-top: 0.6px solid rgba(204, 209, 223, 0.5);
  align-items: center;
}
.item-text li img {
  width: 90%;
  max-width: 768px;
}

.techstack {
  display: flex;
}
